* {
    font-family: Arial, sans-serif;
}

.title {
    font-weight: bold;
    color: pink;
    background-color: grey;
    text-align: center;
}

.recipe-name {
    font-weight: bold;
    font-size: large;
}

ul {
    color: grey;
}