* {
    font-family: Arial, sans-serif;
}

.title {
    font-weight: bold;
    color: pink;
    background-color: grey;
    text-align: center;
}

.recipe-name {
    font-weight: bold;
    font-size: large;
}

ul {
    color: grey;
}

ol {
    font-size: large;
}

div {
    text-align: center;
}

img {
    height: auto;
    width: 500px;
}

h2 {
    color: rgb(67, 67, 67);
    background-color: pink;
    text-align: center;
}